<div class="flex-1 flex">
  {{!-- Ticket Metadata Column --}}
  <div class="w-96 border-r border-gray-300 bg-white overflow-y-auto">
    <div class="p-4">
      <div class="flex items-center mb-4 justify-between items-center">
        <h2 class="text-black text-xl font-semibold">Articles</h2>
        <button 
          type="button" 
          class="bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium py-2 px-4 rounded-md"
          {{on "click" this.addArticle}}
        >
          Add article
        </button>
      </div>

      <div class="space-y-4 text-sm">
        {{#each @model as |article|}}
          <button 
            type="button"
            class="w-full px-2 py-3 text-left hover:bg-gray-200 {{if (eq this.selectedArticle.id article.id) "bg-gray-200 rounded-md"}}"
            {{on "click" (fn this.selectArticle article)}}
          >
            <p class="font-medium text-gray-900">{{article.title}}</p>
            <p class="text-sm text-gray-500">{{article.caption}}</p>
          </button>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Messages Column --}}
  <div class="flex-1 bg-white flex flex-col border-r border-gray-300">
    <div class="p-4 border-b border-gray-300">
      <div class="">
        {{#if this.selectedArticle}}
            <h1 class="text-xl font-bold mb-4">{{this.selectedArticle.title}}</h1>
            <p class="text-gray-600 text-sm">{{this.selectedArticle.caption}}</p>
        {{else}}
            <p class="text-gray-500 italic text-sm">No article selected</p>
        {{/if}}
      </div>
    </div>
    <div class="flex-1 overflow-y-auto p-4 text-sm">
      {{markdown this.selectedArticle.markdown}}
    </div>
  </div>
</div> 

<AddArticleModal 
  @isOpen={{this.isModalOpen}}
  @onClose={{fn (mut this.isModalOpen) false}}
  @onSave={{this.saveArticle}}
  @users={{this.users}}
/>